html {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 26px;
  color: #444;
  min-width: 1048px;
  height: 100%;
  background: #eee
}

a {
  color: black;
  background: #ddd;
  text-decoration: none;
  border-radius: 2px;
  padding: 2px;
}

blockquote {
  border-left: 6px solid #bbb;
  padding-left: 2em;
  font-size: 0.75em;
}

pre {
	white-space: pre-wrap;
}

section>p>img {
  box-shadow: 0 0 2px 0 #666;
	border-radius: 0;
  width: 914px;
  margin-left: auto;
  margin-right: auto;
}

img {
	box-shadow: 0 0 6px 0 #666;
	border-radius: 19px;
}

#wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.nostyle {
  color: none;
  background: none;
  text-decoration: none;
  padding: 0;
}

.facepostlike {
  float: right;
  width: 130px;
  height: 32px;
}

.clear {
  clear: both;
}

.facelike {
  position: absolute;
  width: 130px;
  right: 0;
  top: 10px;
}

.authors {
  float: right;
}

.blogtitle {
  font-size: 2em;
}

.barlogo {
  position: relative;
  float: left;
  box-shadow: none;
}

.facebar {
  position: relative;
  height: 64px;
  width: 1024px;
  margin: auto;
  margin-bottom: 1em;
  border-bottom: 1px dashed black;
}

.manifestobar {
  position: relative;
  height: 64px;
  width: 1024px;
  margin: auto;
  margin-bottom: 4em;
}

.category {
	position: relative;
	width: 128px;
	left: 50%;
	margin-left: -64px;
}

.footer {
	padding: 4em 0 4em 0;
	background: black;
	color: white;
	text-align: justify;
	font-size: 0.75em;
	line-height: 1.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6em;
}

main {
  width: 1024px;
  padding: 12px;
  margin: auto;
  padding-bottom: 8em;
}

.header {
}

section {
  background: white;
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 1em;

  border-radius: 0px;

  box-shadow: 0 0 2px 0 #666 inset;
  margin-bottom: 4em;

  font-size: 1em;
  text-align: justify;

  color: #444;
}

section>p {
  font-size: 0.75em;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  color: black;
}

.time {
  font-size: 0.75em;

  padding: 6px;

  float: right;

  height: 32px;
}

.timestamp {
  float: right;
  margin-right: 6px;
  margin-top: 4px;
  color: #bbb;
}

.timeimage {
  float: right;
  box-shadow: none;
  border-radius: 0;
}

.link {
	float: right;
  background: none;
}

.link>img {
	box-shadow: none;
}

p {
}

.page {
  width: 1024px;
  padding: 12px;
  margin: auto;
}

.face {
  border-radius: 2px;
  box-shadow: 0 0 2px 0 #666;
}

.site-button>img {
  border-radius: 0px;
  box-shadow: 0 0 0px 0 #666;
}

.poetry, pre {
  color: transparent;
}

pre {
	padding: 6px;
	background: #444;
	background: #272822;
	border-radius: 4px;
	box-shadow: 0 0 6px 0 black inset;
	margin: auto;
	line-height: 1em;
}

ol {
  font-size: 0.75em;
}

ul {
  font-size: 0.75em;
}
