body {
  margin: 0;
  font-family: sans-serif;
  font-size: 26px;
  color: #444;
}

pre {
	white-space: pre-wrap;
}

img {
	box-shadow: 0 0 6px 0 #666;
	border-radius: 19px;
}

.fb-like {
  float: right;
  margin-right: 128px;
  margin-top: -58px;
}

.blogtitle {
  font-size: 2em;
}

.barlogo {
  float: left;
  box-shadow: none;
}

.facebar {
  background: #7e0330;
  background: linear-gradient(to top, #7e0330, #8e1040);
  height: 64px;
  width: 100%;
}

.category {
	position: relative;
	width: 128px;
	left: 50%;
	margin-left: -64px;
}

.footer {
	padding: 4em 0 4em 0;
	background: black;
	color: white;
	text-align: justify;
	font-size: 0.75em;
	line-height: 1.5em;
}

main {
  width: 1024px;
  padding: 12px;
  margin: auto;
}

.header {
}

section {
  background: #ddd;
  padding: 12px;
  border-radius: 18px;

  box-shadow: 0 0 6px 0 #666;
  margin-bottom: 4em;
}

.time {
  font-size: 0.75em;

  padding: 6px;

  float: right;

  height: 32px;
}

.timestamp {
  float: right;
  margin-right: 6px;
  margin-top: 4px;
}

.timeimage {
  float: right;
  box-shadow: none;
}

.link {
	float: right;
}

.link>img {
	box-shadow: none;
}

p {
  text-align: justify;
  text-indent: 1em;
}

.page {
  width: 1024px;
  padding: 12px;
  margin: auto;
}

.face {
  border-radius: 18px;
}

.site-button {
  position: fixed;
  top: 12px;
  right: 12px;
}

.site-button>img {
  border-radius: 19px;
  box-shadow: 0 0 6px 0 #666;
}

.poetry, pre {
  color: transparent;
}

pre {
	padding: 6px;
	background: #444;
	background: #272822;
	border-radius: 4px;
	box-shadow: 0 0 6px 0 black inset;
	margin: auto;
	line-height: 1em;
}
